{% extends 'base.html' %}

{% block content %}
<div class="card"
     id="rcorners2">

    <h2 style="text-align:center;">My Library</h2>


    <br>
    <br>
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
body {font-family: Arial, Helvetica, sans-serif;}
        </style>
    </head>
    <body>


    </html>
    <form method="GET">


        {% for item in data %}
        <h3>Book Id:{{item.book_id}}</h3>
        <h3>Book Name:{{item.book_name}}</h3>
        <h3>Issued date:{{item.issued_date}}</h3>
        <h3>Return Date:{{item.return_date}}</h3>
        {% endfor %}
    </form>
    <form method="POST">
        <input class="btn" type="submit" value="Renewal Book" name="Renewal_Book">

        <input class="btn" type="submit" value="Return Book" name="Return_Book">


    </form>
    <br/>
    <br/>
</div>
</body>
{% endblock %}